.Background {
  background: linear-gradient(
    180deg,
    #110e17 0%,
    rgba(144, 115, 203, 0.56) 100%
  );
  background-color: #110e17;
  width: 100vw;
  height: 100vh;
}
.content {
  opacity: 1;
  z-index: 15;
}
.z-5 {
  z-index: 5;
  opacity: 1;
}
.Title {
  color: #fff;
  text-align: center;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 82px;
  font-style: normal;
  font-weight: 200;
  line-height: 102%; /* 83.64px */
  align-content: center;
}
.h-150px {
  height: 110px;
  border-radius: 20px;
  border: 2px solid #fbfff1;
  background: #3c3744;
  box-shadow: 0px 2px 10px 2px #4300fa;
}
.img1 {
  position: absolute;
  top: 70%;
  left: 9%;
  width: 50vw;
  z-index: 1;
  width: 20vw;
  height: 20vh;
  transform: rotate(-1deg);
  flex-shrink: 0;
  box-shadow: 0px 30px 50px 0px rgba(255, 255, 255, 0.2);
}
.img2 {
  position: absolute;
  top: 35%;
  left: 28%;
  width: 50vw;
  z-index: 1;
  width: 20vw;
  height: 20vh;
  transform: rotate(-1deg);
  flex-shrink: 0;
  box-shadow: 0px 30px 50px 0px rgba(255, 255, 255, 0.2);
}
.img3 {
  position: absolute;
  top: 70%;
  left: 49%;
  width: 50vw;
  z-index: 1;
  width: 20vw;
  height: 20vh;
  transform: rotate(-1deg);
  flex-shrink: 0;
  box-shadow: 0px 30px 50px 0px rgba(255, 255, 255, 0.2);
}
.img4 {
  position: absolute;
  top: 35%;
  left: 65%;
  width: 50vw;
  z-index: 1;
  width: 20vw;
  height: 20vh;
  transform: rotate(-1deg);
  flex-shrink: 0;
  box-shadow: 0px 30px 50px 0px rgba(255, 255, 255, 0.2);
}

.btn-primary {
    display: flex;
width: 500px;
height: 66px;
padding: 23px 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

border-radius: 20px;
border: 1px solid #000;
background: #FBFFF1;
box-shadow: 0px 4px 50px 0px rgba(157, 32, 255, 0.36);

color: #000;
font-weight: 600;

  }

  .btn-primary:hover {

    transition: background-color 1s ease;
    background-color: #B28BFF;
    

  }

  .custom-file-upload {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: inline-block;
  }
  

  .custom-file-upload:hover {
    background-color: #0056b3;
  }