.Background2 {
  background: linear-gradient(
    180deg,
    #110e17 0%,
    rgba(144, 115, 203, 0.56) 100%
  );
  background-color: #110e17;
  width: 100%;
  height: 100%;
}

.content {
  opacity: 1;
  z-index: 15;
}

.Title {
  color: #fff;
  text-align: center;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: 102%; 
  align-content: center;
}

.Title2 {
  color: #fff;
  text-align: center;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 102%; 
  align-content: center;
  padding-top: 10px;
}


.avator-button {
  padding: 10px 20px; 
  margin: 5px; 
  border-radius: 40px;
  background-color: transparent;
  border-color: transparent;
  background: transparent;
}

.avator-button img {
  width: 153.488px;
height: 160.773px;
flex-shrink: 0;
border-radius: 40px;
box-shadow: -10px 10px 20px 0px rgba(138, 138, 138, 0.70);
}

.selected {
  border: 6px solid #B28BFF;;
}

.selected2 {
  border: 6px solid #B28BFF;;
}

.create-button {

  display: flex;
  width: 500px;
  height: 66px;
  padding: 23px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  
  border-radius: 20px;
  border: 1px solid #000;
  background: #FBFFF1;
  box-shadow: 0px 4px 50px 0px rgba(157, 32, 255, 0.36);
  
  color: #000;
  font-weight: 600;
}

.create-button:hover {

  transition: background-color 1s ease;
  background-color: #B28BFF;;
  color: white;

}